@import "../../../styles/variables.scss";

.cardDownload2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 233px;
  height: 82px;
  background: #000000;
  border: none;
  color: #fff;
  text-decoration: none;
  @include breakpoint("md") {
    width: 156px;
    height: 67px;
  }
  &:hover {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
  }
  img {
    margin: 0% 5%;
  }
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    @include breakpoint("md") {
      font-size: 12px;
    }
  }
  strong {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    @include breakpoint("md") {
      font-size: 14px;
    }
  }
}
