@import "../../styles/variables.scss";

#TourSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  background-image: url(../../assets/tour-bg.webp);
  background-size: cover;
  background-color: #111213;
  background-repeat: no-repeat;
  background-position: bottom -30px right 0px;
  font-weight: 800;
  padding: 0 !important;
  @include breakpoint("lg") {
    background-image: none;
    padding: 0 !important;
  }

  section {
    .left {
      width: 19vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;

      @include breakpoint("desk") {
        width: 30vw;
      }
      @include breakpoint("xl") {
        width: 40vw;
      }

      @include breakpoint("lg") {
        width: 50vw;
      }

      @include breakpoint("md") {
        width: 75vw;
      }

      @include breakpoint("sm") {
        width: 90vw;
      }
      div {
        margin-top: 0;
      }

      h2 {
        font-size: 32px;
        line-height: 48px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      span {
        color: #ffce00;
      }
    }
    .right {
      @include breakpoint("lg") {
        background-image: url(../../assets/tour-bg-lg.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 35vh;
      }
    }
  }
}
