.cardDownload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 233px;
  height: 82px;
  background: transparent;
  border: 1px solid #ffce00;
  color: #fff;
  text-decoration: none;
  &:hover {
    background-color: #ffce00;
    color: #000000;
    border: 1px solid #000000;
  }
  img {
    margin: 0% 5%;
  }
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  strong {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
}
