.border {
  display: flex;
  &:hover {
    color: black;
    cursor: pointer;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffce00;
    text-decoration: none;
    color: white;
    &:hover {
      background-color: #ffce00;
      color: black;
      cursor: pointer;
    }
    img {
      margin: 5%;
    }
    span {
      font-weight: 700;
    }
  }
}
