.border {
  display: flex;
  z-index: 999;
  &:hover {
    color: black;
    cursor: pointer;
  }
  a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #ffce00;
    text-decoration: none;
    color: white;
    width: 20vw;

    &:hover {
      background-color: #ffce00;
      color: black;
      cursor: pointer;
    }
    img {
      width: 25%;
      height: auto;
      margin: 5%;
    }
    span {
      font-weight: 700;
    }
  }
}
