@import "../../styles/variables.scss";

#ridingSection {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  div {
    display: flex;
  }
  h2 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #111213;
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
